[Unit]
Description=Internet Connectivity Monitor

[Service]
ExecStart=/usr/bin/python /usr/bin/internet-monitor.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
